nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}

a:hover{
    color: rgb(176, 30, 30);
    transition: ease-in-out 0.3s;
}


body{
    background-color: rgb(186, 196, 201);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    margin-top: 50px;
    color: rgb(176, 30, 30);
}

p{
    text-align: center;
    margin-top: 20px;
    color: rgb(176, 30, 30);
    font-size: 20px;
}

button{
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(176, 30, 30);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(150, 25, 25);
    transition: ease-in-out 0.3s;
}


@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 60px;
    }
    
    a {
        font-size: 16px;
        margin: 10px 0;
    }
    
    h1 {
        font-size: 24px;
    }
    
    p {
        font-size: 18px;
    }
    
    button {
        font-size: 16px;
        padding: 8px 16px;
    }
}